<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title></title>
  </head>

  <body>
    <h3>{{title}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum possimus
      assumenda repellat nemo culpa. Velit natus, consequuntur alias assumenda
      optio ullam nostrum in ut recusandae accusantium doloremque possimus
      obcaecati nemo.</p>
    <img src="../public/imges/customer-4.jpg" alt="image!" />
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
    <script src="../public/js/app.js"></script>
  </body>

</html>