<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title></title>
  </head>

  <body>
    <h3>{{title}}</h3>
    <h3>{{name}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas hic
      provident illo molestias reiciendis nisi non necessitatibus, iusto earum
      nemo!</p>
    <ol>
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
    </ol>
    <script src="../public/js/app.js"></script>
  </body>

</html>